straight/
elpa/
auto-save-list/
backups/
transient/
request/
recentf
projectile-bookmarks.eld
.mc-lists.el

# Eshell
eshell/history
eshell/lastdir

# http
url/

# org-babel
main-config.el

# desktop
.emacs.desktop*
